// ------------------------------------------------------------------------------ //
// PRESETS
// ------------------------------------------------------------------------------ //

$o-website-values-palettes: (
    (
        // Colors
        'color-palettes-name':              'helena',

        // Fonts
        'font':                             'Raleway',
        'headings-font':                    'Playfair Display',
        'navbar-font':                      'Roboto',
        'buttons-font':                     'Roboto',

        // Buttons outline
        'btn-secondary-outline':            ture,

        // Buttons
        'btn-padding-y':                    .5rem,
        'btn-padding-x':                    1.5rem,
        'btn-border-radius':                10rem,
        'btn-border-radius-sm':             10rem,
        'btn-border-radius-lg':             10rem,

        // Header
        'header-template':                  'helena',
        'hamburger-position':               'right',
        'logo-height':                      3rem,
        'fixed-logo-height':                3rem,
        'header-font-size':                 .9375rem,

        // Footer
        'footer-template':                  'helena',
    ),
);


// ------------------------------------------------------------------------------ //
// FONTS
// ------------------------------------------------------------------------------ //

$o-theme-font-configs: (
    'Playfair Display': (
        'family':                           ('Playfair Display', sans-serif),
        'url':                              'Playfair+Display:400,400i,700,800',
        'properties' : (
            'base': (
                'font-size-base':           1rem,
            ),
        ),
    ),
    'Raleway': (
        'family':                           ('Raleway', serif),
        'url':                              'Raleway:300,400,400i,700',
        'properties' : (
            'base': (
                'font-size-base':           1rem,
            ),
        ),
    ),
    'Roboto': (
        'family':                           ('Roboto', serif),
        'url':                              'Roboto:300,400,400i,700',
        'properties' : (
            'base': (
                'font-size-base':           1rem,
            ),
        ),
    ),
);




// ------------------------------------------------------------------------------ //
// COLORS
// ------------------------------------------------------------------------------ //

$o-color-palettes: map-merge($o-color-palettes,
    (
        'helena': (
            'o-color-1':                    #e63946,
            'o-color-2':                    #457b9d,
            'o-color-3':                    #a8dadc,
            'o-color-4':                    #f1faee,
            'o-color-5':                    #1d3557,

            //extra colors
            'o-color-6':                    #2f3e46,
            'o-color-7':                    #000000,
            'o-color-8':                    #FFFFFF,

            //specific palettes
            //general plaettes cc1
            'o-cc1-bg':                     'o-color-8',
            'o-cc1-text':                   'o-color-6',
            'o-cc1-headings':               'o-color-1',
            'o-cc1-h3':                     'o-color-5',
            'o-cc1-link':                   'o-color-5',
            'o-cc1-btn-priamry':            'o-color-1',
            'o-cc1-btn-primary-border':     'o-color-1',
            'o-cc1-btn-secondary':          'o-color-5',
            'o-cc1-btn-secondary-border':   'o-color-5',

            //gernral cc2
            'o-cc2-bg':                     'o-color-3',
            'o-cc2-text':                   'o-color-6',
            'o-cc2-headings':               'o-color-7',
            'o-cc2-link':                   'o-color-5',
            'o-cc2-btn-primary':            'o-color-5',
            'o-cc2-btn-primary-border':     'o-color-5',
            'o-cc2-btn-secondary':          'o-color-4',
            'o-cc2-btn-secondary-border':   'o-color-4',

            //gernral cc4
            'o-cc4-bg':                     'o-color-4',
            'o-cc4-text':                   'o-color-2',
            'o-cc4-headings':               'o-color-1',
            'o-cc4-h3':                     'o-color-5',
            'o-cc4-link':                   'o-color-5',
            'o-cc4-btn-primary':            'o-color-1',
            'o-cc4-btn-primary-border':     'o-color-1',
            'o-cc4-btn-secondary':          'o-color-6',
            'o-cc4-btn-secondary-border':   'o-color-6',


            'menu':                         1,
            'footer':                       5,
            'copyright':                    5,
        ),
    )
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'helena');


// ------------------------------------------------------------------------------ //
// SHAPES
// ------------------------------------------------------------------------------ //

$o-bg-shapes: map-merge($o-bg-shapes,
    (
        'illustration': map-merge(
            map-get($o-bg-shapes, 'illustration') or (),
            (
                'hexagons/01': ('position': center center, 'size': auto 100%, 'colors': (1), 'repeat-y': false),
                'curves/01': ('position': center bottom, 'size': 100% auto, 'colors': (2), 'repeat-y': false),
            ),
        ),
    )
);

$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Zigs/06', (4: 3, 5: 1));
$o-bg-shapes: add-extra-shape-colors-mapping('web_editor', 'Zigs/06', 'second', (1: 2, 2: 5));

$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Airy/13_001', (4: 3, 1: 2));
$o-bg-shapes: add-extra-shape-colors-mapping('web_editor', 'Airy/13_001', 'second', (1: 2, 2: 5));
// $o-bg-shapes: add-footer-shape-colors-mapping('web_editor', 'Airy/12_001', (3: 'footer'));