$o-website-values-palettes: (
    (
        'font':                             'Futura',
        'headings-font':                    'Futura',
        'navbar-font':                      'Space Grotesk',
        'buttons-font':                     'Space Grotesk',

        'color-palettes-name':              'airproof',

        // Buttons outline
        'btn-primary-outline':              false,
        'btn-secondary-outline':            true,

        // Buttons
        'btn-padding-y':                    0.75rem,
        'btn-padding-x':                    3rem,
        'btn-border-radius':                0.625rem,

        // Header
        'header-template':                  'airproof',
        'hamburger-position':               'right',
        'logo-height':                      3rem,
        'fixed-logo-height':                3rem,
        'header-font-size':                 0.875rem,
    ),
);

//
// PRESETS
//


$o-color-palettes: map-merge($o-color-palettes,
   (
      'airproof': (
         'o-color-1':                    #bedb39,
         'o-color-2':                    #2c3e50,
         'o-color-3':                    #f2f2f2,
         'o-color-4':                    #ffffff,
         'o-color-5':                    #000000
      ),
      'airproof2': (
         'o-color-1':                    #be1b39,
         'o-color-2':                    #2cee50,
         'o-color-3':                    #f2f2f2,
         'o-color-4':                    #ffffff,
         'o-color-5':                    #000000
      ),
   )
);

$o-theme-font-configs: (
    'Space Grotesk': (
        'family': ('Space Grotesk', sans-serif),
        'url': 'Space+Grotesk:400',
    ),
    'Futura PT': (
        'family': ('futura-pt', sans-serif),
    ),
);

$o-bg-shapes: map-merge($o-bg-shapes,
    (
        'illustration': map-merge(
            map-get($o-bg-shapes, 'illustration') or (),
            (
                'splatter/01': ('position': center top, 'size': 100% auto, 'colors': (1), 'repeat-x': false, 'repeat-y': false),
                'splatter/02': ('position': center center, 'size': 100% auto, 'colors': (1), 'repeat-x': false, 'repeat-y': false),
                'custom/13': ('position': center, 'size': 100% auto, 'colors': (1, 2, 5)),
            ),
        ),
    )
);
$o-selected-color-palettes-name: append($o-selected-color-palettes-names, 'airproof');

/*
.carousel-control-prev-airproof {
    @extend .carousel-control-next;
    right: 40px !important;
    top: -120% !important;
}
.carousel-control-next-airproof {
    @extend .carousel-control-next;
    top: -120%;
}
*/
